body {
   font-family: 'Raleway', sans-serif;
   color: #213053;
 }
  
 header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background: none;/*#ffffff;*/
   z-index:1;
   transition: box-shadow, background-color .25s ease;
 }

 .header__scrolled {
   background-color: white;
   box-shadow: 0 12px 34px -11px rgb(65 62 101 / 10%);
 }

 .header__logo {
   height: 30px;
 }

 a {
   text-decoration: none;
   color: #213053;
 }

 header a {
   font-size: 15px;
   font-weight: 600;
 }

 button {
   font-family: 'Raleway', sans-serif;
   font-size: 15px;
   color: #fff;
   background-color: #23a030;
   border: none;
   border-radius: 15px;
   cursor: pointer;
   box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
   padding: 15px;
 }

 .about__image {
   width: 500px; /*500px*/
 }
  
 .about__sun-image {
   width: 100px;
   height: 100px;
   animation-name: rotation;
   animation-duration:10s;
   animation-iteration-count:infinite;
   animation-timing-function:linear;
   position:absolute;	
   }

 @keyframes rotation {
   0%{
      transform: rotate(0deg);
    }
  
    100%{
      transform: rotate(360deg);
    }
}

 .about {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding-bottom: 115px;
   padding-top: 200px;/*115px;*/
   position: relative; /*относительное позиционирование (canvas)*/
 }

 .about h1 {
   font-size: 70px;
   line-height: 76px;
 }
  
 .about p {
   font-size: 18px;
   line-height: 30px;
   opacity: 0.8;
 }
  
 .about button {
   font-size: 18px;
   padding: 20px 25px;
   border-radius: 20px;
   margin-top: 20px;
 }

 .about__info {
   max-width: 550px;
 }

 .about {
   /* ... */
   background: url('img/back.png') no-repeat;
   background-position: center;
   background-size: cover;
 }

.form {
    background-color: #1D263A;
    color: #fff;
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: center;
    display: flex;
    justify-content: center;
 }
  
 .form h1 {
    font-size: 48px;
 }
  
 .form p {
    font-size: 18px;
    opacity: 0.65;
 }

 .form__group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom:40px; /*мое*/
 }

 .form form {
    margin-top: 60px;
    display: grid;
    grid-gap: 20px;
 }

 .form label {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
 }

 .form input, .form select {
    border: none;
    border-radius: 15px;
    padding: 0px 20px;
    outline: none;
    font-size: 18px;
    color: #213053;
    height: 60px;

    /*width: 400px; /*мое*/
 }

 .form__submit {
    margin-top: 40px;
    font-weight: 600;
    font-size: 18px;
 }

 button:hover {
    background-color: #f6980c;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
    transition: background-color 0.3s ease-in;
 }

 footer {
    padding: 90px 20px;
    font-size: 16px;  
    font-weight: 600;
 }
  
 .footer__container {
    display: flex;
    justify-content: space-evenly; /*center*/
 }
  
 .footer__copy {
    text-align: center;
    opacity: 0.5;
    margin-top: 40px;
 }

 .footer__group {
    margin-right: 80px;
 }
  
 footer h3 {
    opacity: 0.7;
    font-size: 16px;
    margin-bottom: 30px;
 }
  
 .footer__links {
    display: flex;
    flex-direction: column;
 }
  
 .footer__links a {
    margin-bottom: 15px;
 }






 .features {
   background-color: #fff;
   color: rgb(0, 0, 0);
   padding-top: 115px;
   padding-bottom: 115px;
   padding-right: 60px;
   padding-left: 60px;
   
   /*text-align: center;
   display: flex;
   justify-content: center;*/
}

.cards__logo {
   text-align: left;
   border: 1px solid #D9E4E6;
   border-radius: 5px;
   padding-top: 35px;
   padding-right: 40px;
   padding-bottom: 25px;
   padding-left: 40px;
}

.cards {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 2%;

   /*display: flex;
   justify-content: space-evenly;*/
}

.fa-solar-panel 
{
   color: #ffb406; /* rgb(217, 240, 12);*/
   background-color: grey;
   border-radius: 50%;
   border: 1px solid grey;
   padding: 30px;
   width: 100px;
   height: 100px;
 }

 .text24-7 
 {
   color: rgb(255, 0, 0);
   background-color: grey;
   border-radius: 50%;
   border: 1px solid grey;
   padding: 30px;
   font-size:350%;
   width: 100px;
   height: 100px;
 }

 .fa-chart-line
 {
   color: #22a030;
   background-color: grey;
   border-radius: 50%;
   border: 1px solid grey;
   padding: 30px;
   width: 100px;
   height: 100px;

   /*transform: scale(1.5,1); трансформация иконки*/
 }


 .cards__logo h3 {
   font-size: 22px;
   opacity: 0.8;
 }

 .cards__logo p {
   font-size: 16px;
   opacity: 0.8;
 }

 .features__border {
   background-color: #fff;
   color: rgb(0, 0, 0);
   padding-top: 50px;
   padding-bottom: 50px;
   padding-right: 0px;
   padding-left: 0px;
   border: 1px solid #E6EAF4;
}

.features__feedback {
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
}

.features__feedback-right {
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
}

.features__feedback-left {
   padding-right: 10px;
}

.features__feedback-left h2 {
   font-size: 48px;
}

.features__feedback-left p {
   font-size: 18px;
   line-height: 26px;
   opacity: 0.7;
}

.features__box {
   padding-top: 30px;
   padding-bottom: 40px;
   padding-right: 25px;
   padding-left: 40px;
   color: white;
   border-radius: 25px;
}

.features__box h3 {
   font-size: 48px;
   margin-top: 0;
   margin-bottom: 20px;
}

.features__savings-box {
   background-color: #dc5e26;
   margin-right: 30px;
   box-shadow: 0px 6px rgb(221 95 38 / 20%);
}

.features__rate-box {
   background-color: #1D263A;
   box-shadow: 0px 6px rgb(29 38 58 / 20%);
}

.promo__image {
   /*background:#220a66;*/
   background-image: url("img/promo.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position:center;
   flex-grow: 1;
   max-width: 100%;
   width: 100vh;
   /*width: 50%;
   flex-shrink: 0;
   background-size: cover;
   background-position: center; ORIGINAL*/
   
   
   /*max-width: 100%; 
   width: 500px;*/
    /*flex-shrink: 0;*/
   /*width: auto;*/
}

.promo {
   display: flex;
   flex-direction: row;

   /*justify-content: center;*/
   /*flex-shrink: 0;*/
   /*flex-basis: 100%;*/
}

.promo__right {
   display: flex;
   justify-content: center;
   background-color: #dd5f26;
   padding-top: 160px;
   padding-bottom: 160px;
   padding-right: 60px;
   padding-left: 60px;
   flex-grow: 1;
   max-width: 100%;
   width: 100vh;
   /*background: #dd5f26;
   padding: 160px 60px; ORIGINAL*/



   /*height: auto;
   flex-shrink: 0;
   /*width: auto;*/
  /* max-width: 100%;*/
   /*max-height: 100%;*/
}

.promo__right div{
   padding-top: 30px;
   padding-bottom: 30px;
   padding-right: 40px;
   padding-left: 40px;
   background:white;
   border-radius: 25px;
   font-size: 20px;
   line-height: 22px;
   font-weight: 500;
}

.promo__right li {
 opacity: 80%;  
}

.buttonZ {
   display: flex;	
   justify-content: center;
}

.orb-canvas {
   position: absolute;
   top: 0;
   height: 100%;
   right: 0;
}















 /* Планшеты */
@media (max-width: 1024px) {
   .about {
       padding: 115px 20px;
   }
 
   .about h1 {
       font-size: 36px;
       line-height: 40px;
   }
 
   .about__image {
       width: 280px;
   }
 
   .about__sun-image {
       width: 75px;
       height: 75px;
   }
}
 
/* Мобильные устройства */
@media (max-width: 720px) {
   header {
       padding: 10px;
   }
 
   .header__logo {
       height: 20px;
   }
 
   header a {
       margin-right: 10px;
   }
 
   .about {
       flex-direction: column-reverse;
       padding: 50px 10px;
   }
 
   .about h1 {
       font-size: 36px;
       line-height: 40px;
   }
 
   .about__image {
       width: 280px;
   }
 
   .about__sun-image {
       width: 75px;
       height: 75px;
   }
 
   .form {
       padding: 50px 10px;
   }
 
   .form h1 {
       font-size: 36px;
   }
 
   footer {
       padding: 50px 10px;
   }
 
   .footer__container {
       flex-direction: column;
   }

   .features {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: 10px;
      padding-left: 10px;
   }
   .cards {
   grid-template-columns: auto;
   }

   .features__feedback {
      flex-direction: column;
   }
   
   .features__feedback-right {
      flex-direction: column;
   }

   .features__feedback-left {
      padding-right: 0px;
   }
   
   .features__feedback-left h2 {
      font-size: 36px;
   }

   .features__savings-box {
      margin-right: 0px;
      margin-bottom: 30px;
   }

   .promo__right {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: 10px;
      padding-left: 10px;
      width: auto;
   }

   .promo {
      flex-direction: column;
   }

   .promo__image { 
   height: 500px;
   width: 100%;
   /*width:auto;*/
   }

   .features__box h3 {
      font-size: 36px;
   }
}